<div class="row">
  <div class="col-md-9">
    <h3 span class="text-muted">College</span></h3>
  </div>
  <div class="col-md-9">
    <h4>Math</h4>
    <div class="row">
      <div class="col-md-6">
        Calculus I
      </div>
      <div class="col-md-6">
        Calculus II
      </div>
      <div class="col-md-6">
        Statistics
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h4>Science</h4>
    <div class="row">
      <div class="col-md-6">
        Physics I (Calc Based)
      </div>
      <div class="col-md-6">
        Physics II (Calc Based)
      </div>
      <div class="col-md-6">
        Physics I (Non-Calc)
      </div>
      <div class="col-md-6">
        Physics II (Non-Calc)
      </div>
      <div class="col-md-6">
        Chemistry
      </div>
      <div class="col-md-6">
        Biology
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h4>Social Science</h4>
    <div class="row">
      <div class="col-md-6">
        MicroEconomics
      </div>
      <div class="col-md-6">
        MacroEconomics
      </div>
      <div class="col-md-6">
        History
      </div>
      <div class="col-md-6">
        Government
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h4>Business</h4>
    <div class="row">
      <div class="col-md-6">
        Finance
      </div>
      <div class="col-md-6">
        Investments
      </div>      
      <div class="col-md-6">
        Accounting I
      </div>
      <div class="col-md-6">
        Accounting II
      </div>
    </div>
  </div>
   <div class="col-md-9">
    <h3 span class="text-muted">High School</span></h3>
  </div>
  <div class="col-md-9">
    <h4>SAT Prep</h4>
    <div class="row">
      <div class="col-md-6">
        Math
      </div>
      <div class="col-md-6">
        Verbal
      </div>
    </div>
  </div>
</div>